.post-write {
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f0f7ff;
  border: 2px solid #8bb7f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #003c7d;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 중앙 정렬 */
}

.input-group label {
  font-size: 1.1rem;
  color: #003c7d;
  display: block;
  margin-bottom: 8px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #b0c6f6;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif; /* 글씨체 동일하게 설정 */
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #007BFF;
  outline: none;
}

textarea {
  resize: none;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* 상세보기: 수정, 삭제하기 버튼 
   작성하기: 뒤로가기, 작성하기 버튼*/
.button-group button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.back-btn,
.submit-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* 에러메시지 여부 */
.errorMsg {
  color: red;
  font-size: 1rem;
  margin-top: 10px;
}